.DS_Store
logs
compiled
artifacts
prefs
packages
*.cpp
*.f90
.vscode
# *.csv

docs/build/*
src/CrossSection/testVector.jl
src/CrossSection/LineShapes/testAbstraction.jl
src/savedInterpolation.jld
src/Notebooks/tmp.gif
